/**
 * @name UI Tweaks
 * @description Adds a few elements from the old ui into the new one.
 * @author dabluee
 * @version 1.0.0
 * @source 
 * @authorId 
*/

.visual-refresh, .theme-dark, .visual-refresh.theme-dark, .visual-refresh.theme-light, body {
    --blurple: #5865F2;
    --background-base-lowest: hsl(from var(--background-base-lower) calc(h - 11) calc(s + 0) calc(l - 3)) !important;
    --background-base-lowester: hsl(from var(--background-base-lower) calc(h - 6) calc(s - 1) calc(l - 8)) !important;
	--background-modifier-selected: hsl(from var(--background-base-lowest) calc(h + 10) calc(s - 2) calc(l + 5)) !important;
	--background-message-hover: hsl(from var(--background-base-lower) calc(h - 1) calc(s - 1) calc(l - 2)) !important;
	--background-mod-subtle: hsl(var(--opacity-8-hsl)/0.1) !important;
	--button-primary-background-hover: hsl(var(--opacity-20-hsl)/0.2) !important;
	--button-secondary-background-hover: var(--blurple) !important;
	--scrollbar-auto-thumb: color-mix(in hsl, var(--neutral-50) 100%, var(--background-base-low) var(--theme-text-color-amount, 75%)) !important;
    --scrollbar-thin-thumb: var(--scrollbar-auto-thumb) !important;
    
	--text-link: #00AAFC !important;
    --text-feedback-critical: #F04139 !important;
    --text-danger: #FF6059 !important;
    --text-feedback-info: color-mix(in oklab, var(--blue-new-29) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
    --text-feedback-positive: #49BC66 !important;
    --text-feedback-warning: #EC9623 !important;
	--notice-background-warning: #B98B18 !important;
	--text-primary: color-mix(in oklab, var(--neutral-4) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
	--icon-primary: var(--text-primary) !important;
	--notice-text-warning: hsl(from var(--text-primary) calc(h - 176) calc(s + 87) calc(l - 1)) !important;
    --channels-default: hsl(from var(--text-primary) calc(h - 25) calc(s + 5) calc(l - 34)) !important;
    --channel-icon: hsl(from var(--channels-default) calc(h + 9) calc(s - 3) calc(l - 8)) !important;
    --channels-header: hsl(from var(--channels-default) calc(h + 2) calc(s - 1) calc(l + 12)) !important;
	--background-code: hsl(from var(--background-base-lower) calc(h - 6) calc(s + 1) calc(l - 3)) !important;
	/* --border-code: hsl(from var(--background-code) calc(h + 10) calc(s + 7) calc(l - 5)); */
	--border-code: color-mix(in oklab, var(--neutral-40) 50%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
	--spoiler-hidden-background: color-mix(in hsl, var(--neutral-80) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
	--spoiler-hidden-background-hover: hsl(from var(--spoiler-hidden-background) h s l / 0.60) !important;
    
	--custom-member-list-width: 255px;
    --custom-app-top-bar-height: 25px;
	--guildbar-folder-size: 48px;
}
.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--bg-brand: var(--blurple);
	--checkbox-background-checked: var(--blurple);
	--background-floating: var(--background-base-lowester);
}

/* Reverting the typing indicator changes */
.channelBottomBarArea_f75fb0 {
	margin-bottom: 15px;
	margin-top: 15px;
}

.inTextChannel_b88801.base_b88801 {
	bottom: 0;
	align-self: flex-end;
}

.chatTypingGradientNotAtBottom__36d07{
	background: none;
}

.align-chat-input .form_f75fb0 {
    display: flex !important;
    flex-direction: column;
}

.align-chat-input .inTextChannel_b88801 .text_b88801 {
    margin-left: var(--space-8);
}

.messagesWrapper__36d07,
.container__2637a {
mask: none !important;
}


/* Channel colors */
.container__13cf1 {
    color: var(--channels-header);
}
.membersGroup_c8ffbb {
    color: var(--channels-default) !important;
}

/* Profile bar button colors */
button.button__67645.enabled__67645:hover,
span.button__67645.enabled__67645:hover  {
	background: var(--button-primary-background-hover) !important;
}



.visual-refresh {

    /* Grids */
    .guilds__5e434 {
        margin-top: -12px;
    }
	.base__5e434 {
		background: var(--bg-overlay-5, var(--background-base-lowester));
	}
	.base__5e434 .sidebar__5e434 {
        overflow: visible !important;
	}
	.base__5e434 .sidebar__5e434 > .guilds__5e434 {
		margin-bottom: 0;
	}
    .sidebarList__5e434 {
		border-color: hsl(from var(--app-border-frame) h s l / 0.15);
    }

    /* Server list icons */
    .iconContainer_c1e9c4 {
		svg.radioIcon_c1e9c4 {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}
		.refreshIconFill__88a69 {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}
		.refreshIconStroke__88a69 {
			stroke-width: 0;
		}
		.refreshIcon__88a69 {
			fill: var(--blurple);
			r: 6
		}
	}
    #guild-list-unread-dms {
        gap: 9px !important;
        padding-bottom: 5px !important;
    }
	
    #guild-list-unread-dms .listItem__650eb {
        padding-top: 5px !important;
    }
	#guild-list-unread-dms div[style="opacity: 1; height: 40px; transform: scale(1);"]{
		height: 50px !important;
	}
    .stack_dbd263 {
        gap: 9px !important;
    }
    .caret_c1e9c4 {
		width: 16px;
		height: 16px;
	}	
	.listItem__650eb {
		width: 77px;
        padding-top: 2px;
	}
	.wrapper_cc5dd2,
	.childWrapper__6e9f8,
	.icon__6e9f8 {
		width: 48px !important;
		height: 48px !important;
	}
	.childWrapper__6e9f8 > .wrapper__44b0c svg {
		left: -4px;
		top: -4px;
		width: 48px !important;
		height: 48px !important;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 {
		inset: auto;
		contain: none;
		overflow: hidden !important;
		
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="40"] {
		overflow: visible !important;
		x: -4;
		y: -4;
		width: 48px;
		height: 48px;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 path[d="M0 17.4545C0 11.3449 0 8.29005 1.18902 5.95647C2.23491 3.90379 3.90379 2.23491 5.95647 1.18902C8.29005 0 11.3449 0 17.4545 0H22.5455C28.6551 0 31.71 0 34.0435 1.18902C36.0962 2.23491 37.7651 3.90379 38.811 5.95647C40 8.29005 40 11.3449 40 17.4545V22.5455C40 28.6551 40 31.71 38.811 34.0435C37.7651 36.0962 36.0962 37.7651 34.0435 38.811C31.71 40 28.6551 40 22.5455 40H17.4545C11.3449 40 8.29005 40 5.95647 38.811C3.90379 37.7651 2.23491 36.0962 1.18902 34.0435C0 31.71 0 28.6551 0 22.5455V17.4545Z"] {
		d: path('M -48 -48 L -48 48 L 48 48 L 48 -48 L -48 -48 Z') !important;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 path[d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z"] {
		d: path('M -48 -48 L -48 48 L 48 48 L 48 -48 L -48 -48 Z') !important;
	}
	/* svg for folders */
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="48"] {
		mask: none;
		overflow: hidden;
		x: -4;
		y: -4;
	}
	/* svg for group dm with pfps */
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="32"] {
		overflow: visible;
		x: 0;
		y: 0;
	}
	.childWrapper__6e9f8 > .container__1ce5d svg {
		overflow: visible;
		width: 42px !important;
		height: 42px !important;
	}
	.childWrapper__6e9f8 > .container__1ce5d {
		left: -5px;
		top: -5px;
	}
	.childWrapper__6e9f8 > .svg__2338f {
		inset: auto;
		contain: none;
	}
	.wrapper_cc5dd2 .wrapper__6e9f8 {
		width: 48px !important;
		height: 48px !important;
		border-radius: 25px;
		overflow: hidden;
		transition: border-radius 0.2s ease;
	}
	.wrapper__6e9f8.selected__6e9f8 {
		border-radius: 15px !important;
	}
	.outer_bf1984 {
		background: var(--background-base-lowester);
	}
	.outer_bf1984.interactive_bf1984:hover {
		background-color: var(--primary-800);
	}
    /* Ping and call badges */
	.wrapper_cc5dd2 > .svg_cc5dd2.shiftSVG_cc5dd2 use[href$="lower_badge_masks"] {
		transform: translate(7.5%, 7%) !important;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2.shiftSVG_cc5dd2 use[href$="upper_badge_masks"] {
		transform: translate(7.5%, -7%) !important;
	}
	svg.placeholderMask__87847 {
		width: 48px !important;
		height: 48px !important;
	}
	.childWrapper__6e9f8 svg {
		height: 30px !important;
		width: 30px !important;
	}

    /* Text input bar */
    .scrollerSpacer__36d07 {
		height: 25px;
	}
	.themedBackground__74017 {
		background: var(--bg-overlay-3, var(--channeltextarea-background));
	}
    .formWithLoadedChatInput_f75fb0 {
        .buttons__74017 {
		    margin-right: -6px !important;
			gap: unset;
		}
		.button__74017 {
		    padding: 5px;
		    margin-left: 0px;
		    margin-right: 3px;
		}
		.spriteContainer__04eed {
			--custom-emoji-sprite-size: 22px !important;
		}
		.lottieIcon__5eb9b {
			height: unset !important;
			width: 22px !important;
			.channelAppLauncher_e6e74f &{
				width: 25px !important;
		        margin-right: 3px;
			}
		}
		.slateTextArea_ec4baf {
			margin-left: unset;
		}
    }
	.chatGradient__36d07 {
		display: none;
	}

    /* VC count */
    .wrapper__260e1{
        border: 0px;
    }
	.total__260e1 {
		background: var(--background-base-lowester);
	}
	.total__260e1:after {
		border-right-color: var(--background-base-lowester);
	}

    /* VC Panel */
	.buttons__37e49 {
		gap: 2px;
		margin-right: calc(var(--custom-panels-spacing) - var(--custom-guild-list-padding) - 8px);
	}
	.avatarWrapper__37e49 {
		margin-left: calc(var(--custom-panels-spacing) - var(--custom-guild-list-padding) - 4px);
	}
	.container_e131a9 {
		margin: 10px;
	}
	.micButtonParent__37e49 .buttonChevron__37e49 {
		display: none;
	}
	button.button__67645 {
    	border-radius: var(--radius-sm);
	}

    /* Slider buttons */
	.slider_a562c8 .barFill_a562c8 {
		background-color: var(--bg-brand)
	}
	.container__3f21e.checked__3f21e{
		background-color: var(--bg-brand) !important;
	}

	/* Code blocks */
	.markup__75297 code {
		border: 1px solid var(--border-code);
	}
}


/* Search bar */
.visual-refresh .searchBar__97492 {
    width: 230px;
}


/* Profile Bar */
.visual-refresh .panels__5e434 {
    --custom-panels-spacing: 32px;
    background: var(--bg-overlay-floating, var(--background-base-lower));
    border: 1px solid var(--border-faint);
    border-radius: var(--radius-sm);
    bottom: 8px;
    box-sizing: border-box;
    left: calc(50px + var(--custom-panels-spacing));
    position: absolute;
    width: calc(100% - var(--custom-panels-spacing) * 2.8);
}
.visual-refresh button.button__67645, .visual-refresh span.button__67645 {
    height: 32px;
    width: 32px;
}
.actionButtons_e131a9 .lookFilled__201d5 .contents__201d5 {
	margin: -2px !important;
} 
/* Now playing area */
.visual-refresh .base__5e434 .sidebar__5e434 > .panels__5e434 .panel__5dec7 {
	background: var(--bg-overlay-floating, var(--background-base-lower));
	margin: 10px;
	padding-bottom: 10px;
}


/* Top Bar */
.platform-win .base__5e434 {
	padding-top: 0px;
}
.bar_c38106 .trailing_c38106 .iconWrapper__9293f {
    width: 24px;
    height: 24px;
}
.bar_c38106 .trailing_c38106 .iconWrapper__9293f .icon__9293f,
.clickable_c99c29 {
    width: 16px;
    height: 16px;
	top: 0px;
	bottom: 0px;
}
.badge_c99c29 {
    bottom: 0px;
    height: 7px;
    right: 4px;
    width: 7px;
}
.visual-refresh .title_edbb22 {
    display: none;
}


/* Server list, mostly from milbits and THEYAKUZI */
.base__5e434 .sidebar__5e434 > .guilds__5e434 {
    width: 75px;
    background: var(--background-base-lowester);
	.scroller_ef3116 {
		padding-top: 0px;
		padding-bottom: 25px;
	    > div[style]:not([class]) {
	        min-height: 48px;
		}
		ul.stack_dbd263 {
		    height: auto !important;
		}
    }
    .guildSeparator__252b6 {
      height: 2px;
	  /* margin-top: 10px; */
    }
	
	.listItem__650eb:has(.circleIcon__5bc7e) {
		.circleIconButton__5bc7e {
			border-radius: 50%;
			width: 48px !important;
			height: 48px !important;
		}
	}
	.guildsError_e8d03f {
		width: 48px !important;
	    height: 48px !important;
	    background: (rgba(240,71,71,.1));
	    border-color: var(--text-feedback-critical);
		&:hover {
	    	background: var(--text-feedback-critical);
		}
	}

	.unreadMentionsIndicatorBottom_ef3116 {
		margin-left: 2px;
	}
    .unreadMentionsIndicatorTop_ef3116, .unreadMentionsBar_ef3116:before{
        margin-left: 2px;
    }
	.mention__3b95d {
		box-sizing: border-box;
		opacity: .9;
		border: unset;
		box-shadow: unset;
	}
}
.sidebar__5e434:after {
	display: none;
}

.folderHeader__48112{
	width: 48px;
	height: 48px;
}
.folderGroup__48112 {
    --custom-folder-padding: calc((var(--guildbar-folder-size) - 48px) / 2);
    --custom-folder-preview-padding: var(--space-4);
    --custom-folder-preview-gap: 2px;
    --custom-folder-preview-guild-size: calc((var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2 - var(--custom-folder-preview-gap)) / 2);
    position: relative;
    width: var(--custom-guild-list-width);
}
.folderPreviewGuildIcon__48112{
	border-radius: 12px !important;
}
.folderGroupBackground__48112 {
	left: calc((var(--custom-guild-list-padding) - (var(--guildbar-folder-size) - 48px)/2) - 1.5px);
	border-radius: 16px;
	width: calc(var(--guildbar-folder-size));
}
.folderGroup__48112 > .listItem__650eb {
	gap: 20px !important;
}