/**
 * @name UI Tweaks
 * @description Adds a few elements from the old ui into the new one.
 * @author dabluee
 * @version 1.0.0
 * @source 
 * @authorId 
*/

.visual-refresh, .theme-dark, .visual-refresh.theme-dark, .visual-refresh.theme-light, body {
    --blurple: #5865F2;
    --background-base-lowest: hsl(from var(--background-base-lower) calc(h - 11) calc(s + 0) calc(l - 3)) !important;
    --background-base-lowester: hsl(from var(--background-base-lower) calc(h - 6) calc(s - 1) calc(l - 8)) !important;
	--background-modifier-selected: hsl(from var(--background-base-lowest) calc(h + 10) calc(s - 2) calc(l + 5)) !important;
	--background-message-hover: hsl(from var(--background-base-lower) calc(h - 1) calc(s - 1) calc(l - 2)) !important;
	--background-mod-subtle: hsl(var(--opacity-8-hsl)/0.1) !important;
	--button-primary-background-hover: hsl(var(--opacity-20-hsl)/0.2) !important;
	--button-secondary-background-hover: var(--blurple) !important;
	--scrollbar-auto-thumb: color-mix(in hsl, var(--neutral-50) 100%, var(--background-base-low) var(--theme-text-color-amount, 75%)) !important;
    --scrollbar-thin-thumb: var(--scrollbar-auto-thumb) !important;
    
	--text-link: #00AAFC !important;
    --text-feedback-critical: #F04139 !important;
    --text-danger: #FF6059 !important;
    --text-feedback-info: color-mix(in oklab, var(--blue-new-29) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
    --text-feedback-positive: #49BC66 !important;
    --text-feedback-warning: #EC9623 !important;
	--notice-background-warning: #B98B18 !important;
	--text-primary: color-mix(in oklab, var(--neutral-4) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
	--icon-primary: var(--text-primary) !important;
	--notice-text-warning: hsl(from var(--text-primary) calc(h - 176) calc(s + 87) calc(l - 1)) !important;
    --channels-default: hsl(from var(--text-primary) calc(h - 25) calc(s + 5) calc(l - 34)) !important;
    --channel-icon: hsl(from var(--channels-default) calc(h + 9) calc(s - 3) calc(l - 8)) !important;
    --channels-header: hsl(from var(--channels-default) calc(h + 2) calc(s - 1) calc(l + 12)) !important;
	--interactive-background-hover-old:  color-mix(in oklab, hsl(var(--opacity-8-hsl) / 0.0784313725490196) 100%, hsl(var(--custom-theme-base-color-hsl, 0 0% 0%) / 0.0784313725490196) var(--custom-theme-base-color-amount, 0%));
	--interactive-background-selected-old:  color-mix(in oklab, hsl(var(--opacity-20-hsl) / 0.2) 100%, hsl(var(--custom-theme-base-color-hsl, 0 0% 0%) / 0.2) var(--custom-theme-base-color-amount, 0%));
	--interactive-background-hover: hsl(from var(--interactive-background-hover-old) h s calc(l - 8));
	--interactive-background-selected: hsl(from var(--interactive-background-selected-old) h s calc(l - 16));
	
    --background-mod-subtle: hsl(var(--opacity-8-hsl) / 0.15) !important;

	--background-code: hsl(from var(--background-base-lower) calc(h - 6) calc(s + 1) calc(l - 3)) !important;
	/* --border-code: hsl(from var(--background-code) calc(h + 10) calc(s + 7) calc(l - 5)); */
	--border-code: color-mix(in oklab, var(--neutral-40) 50%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
	--spoiler-hidden-background: color-mix(in hsl, var(--neutral-80) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%)) !important;
	--spoiler-hidden-background-hover: hsl(from var(--spoiler-hidden-background) h s l / 0.60) !important;
    
	--custom-member-list-width: 255px;
    --custom-app-top-bar-height: 25px;
	--guildbar-folder-size: 48px;
}
.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--bg-brand: var(--blurple);
	--checkbox-background-checked: var(--blurple);
	--background-floating: var(--background-base-lowester);
}

.theme-dark ._5126c0cd07f243a0-message._5126c0cd07f243a0-selected {
	background: var(--background-base-lower);
}

/* Reverting the typing indicator changes */
.f75fb00fb7356cbe-channelBottomBarArea {
	margin-bottom: 15px;
	margin-top: 15px;
}

.b8880176888cc928-inTextChannel.b8880176888cc928-base {
	bottom: 0;
	align-self: flex-end;
}

._36d072eab2b2e737-chatTypingGradientNotAtBottom{
	background: none;
}

.align-chat-input .f75fb00fb7356cbe-form {
    display: flex !important;
    flex-direction: column;
}

.align-chat-input .b8880176888cc928-inTextChannel .b8880176888cc928-text {
    margin-left: var(--space-8);
}

._36d072eab2b2e737-messagesWrapper,
._2637a2609f343032-container {
mask: none !important;
}


/* Channel colors */
._13cf1aa56cd732d2-container {
    color: var(--channels-header);
}
.c8ffbb79449f399c-membersGroup {
    color: var(--channels-default) !important;
}

/* Profile bar button colors */
button._67645e1530f1195d-button._67645e1530f1195d-enabled:hover,
span._67645e1530f1195d-button._67645e1530f1195d-enabled:hover  {
	background: var(--button-primary-background-hover) !important;
}



.visual-refresh {

    /* Grids */
    ._5e434347c823b592-guilds {
        margin-top: -12px;
    }
	._5e434347c823b592-base {
		background: var(--bg-overlay-5, var(--background-base-lowester));
	}
	._5e434347c823b592-base ._5e434347c823b592-sidebar {
        overflow: visible !important;
	}
	._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-guilds {
		margin-bottom: 0;
	}
    ._5e434347c823b592-sidebarList {
		border-color: hsl(from var(--app-frame-border) h s l / 0.25);
		border-radius: 10px 0px 0px 0px;
    }

    /* Server list icons */
    .c1e9c47c23f12ca3-iconContainer {
		svg.c1e9c47c23f12ca3-radioIcon {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}
		._88a69141dd70013a-refreshIconFill {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}
		._88a69141dd70013a-refreshIconStroke {
			stroke-width: 0;
		}
		._88a69141dd70013a-refreshIcon {
			fill: var(--blurple);
			r: 6
		}
	}
    #guild-list-unread-dms {
        gap: 9px !important;
        padding-bottom: 5px !important;
    }
	
    #guild-list-unread-dms ._650eb104245d257b-listItem {
        padding-top: 5px !important;
    }
	#guild-list-unread-dms div[style="opacity: 1; height: 40px; transform: scale(1);"]{
		height: 50px !important;
	}
    .dbd2630aec71879b-stack {
        gap: 9px !important;
    }
    .c1e9c47c23f12ca3-caret {
		width: 16px;
		height: 16px;
	}	
	._650eb104245d257b-listItem {
		width: 77px;
        padding-top: 2px;
	}
	.cc5dd25190031396-wrapper,
	._6e9f8dce4cc18de3-childWrapper,
	._6e9f8dce4cc18de3-icon {
		width: 48px !important;
		height: 48px !important;
	}
	._6e9f8dce4cc18de3-childWrapper > ._44b0c28be7879b7b-wrapper svg {
		left: -4px;
		top: -4px;
		width: 48px !important;
		height: 48px !important;
	}
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg {
		inset: auto;
		contain: none;
		overflow: hidden !important;
		
	}
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg foreignObject[width="40"] {
		overflow: visible !important;
		x: -4;
		y: -4;
		width: 48px;
		height: 48px;
	}
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg path[d="M0 17.4545C0 11.3449 0 8.29005 1.18902 5.95647C2.23491 3.90379 3.90379 2.23491 5.95647 1.18902C8.29005 0 11.3449 0 17.4545 0H22.5455C28.6551 0 31.71 0 34.0435 1.18902C36.0962 2.23491 37.7651 3.90379 38.811 5.95647C40 8.29005 40 11.3449 40 17.4545V22.5455C40 28.6551 40 31.71 38.811 34.0435C37.7651 36.0962 36.0962 37.7651 34.0435 38.811C31.71 40 28.6551 40 22.5455 40H17.4545C11.3449 40 8.29005 40 5.95647 38.811C3.90379 37.7651 2.23491 36.0962 1.18902 34.0435C0 31.71 0 28.6551 0 22.5455V17.4545Z"] {
		d: path('M -48 -48 L -48 48 L 48 48 L 48 -48 L -48 -48 Z') !important;
	}
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg path[d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z"] {
		d: path('M -48 -48 L -48 48 L 48 48 L 48 -48 L -48 -48 Z') !important;
	}
	/* svg for folders */
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg foreignObject[width="48"] {
		mask: none;
		overflow: hidden;
		x: -4;
		y: -4;
	}
	/* svg for group dm with pfps */
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg foreignObject[width="32"] {
		overflow: visible;
		x: 0;
		y: 0;
	}
	._6e9f8dce4cc18de3-childWrapper > ._1ce5d425feffd32a-container svg {
		overflow: visible;
		width: 42px !important;
		height: 42px !important;
	}
	._6e9f8dce4cc18de3-childWrapper > ._1ce5d425feffd32a-container {
		left: -5px;
		top: -5px;
	}
	._6e9f8dce4cc18de3-childWrapper > ._2338f50c3988e5ec-svg {
		inset: auto;
		contain: none;
	}
	.cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper {
		width: 48px !important;
		height: 48px !important;
		border-radius: 25px;
		overflow: hidden;
		transition: border-radius 0.2s ease;
	}
	._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected {
		border-radius: 15px !important;
	}
	.bf1984a18b3ec6f0-outer {
		background: var(--background-base-lowester);
	}
	.bf1984a18b3ec6f0-outer.bf1984a18b3ec6f0-interactive:hover {
		background-color: var(--primary-800);
	}
    /* Ping and call badges */
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg.cc5dd25190031396-shiftSVG use[href$="lower_badge_masks"] {
		transform: translate(7.5%, 7%) !important;
	}
	.cc5dd25190031396-wrapper > .cc5dd25190031396-svg.cc5dd25190031396-shiftSVG use[href$="upper_badge_masks"] {
		transform: translate(7.5%, -7%) !important;
	}
	svg._8784752aa3af335e-placeholderMask {
		width: 48px !important;
		height: 48px !important;
	}
	._6e9f8dce4cc18de3-childWrapper svg {
		height: 30px !important;
		width: 30px !important;
	}

    /* Text input bar */
    ._36d072eab2b2e737-scrollerSpacer {
		height: 25px;
	}
	._740174f3d6a2c8fe-themedBackground {
		background: var(--bg-overlay-3, var(--channeltextarea-background));
	}
	._740174f3d6a2c8fe-channelTextArea {
    	border: 1px solid var(--app-frame-border);
	}
    .f75fb00fb7356cbe-formWithLoadedChatInput {
        ._740174f3d6a2c8fe-buttons {
		    margin-right: -6px !important;
			gap: unset;
		}
		._740174f3d6a2c8fe-button {
		    padding: 5px;
		    margin-left: 0px;
		    margin-right: 3px;
		}
		._04eede68d145ae81-spriteContainer {
			--custom-emoji-sprite-size: 22px !important;
		}
		._5eb9b3cc7c2b1ce8-lottieIcon {
			height: unset !important;
			width: 22px !important;
			.channelAppLauncher_e6e74f &{
				width: 25px !important;
		        margin-right: 3px;
			}
		}
		.ec4baf0360ff3578-slateTextArea {
			margin-left: unset;
		}
    }

	._36d072eab2b2e737-chatGradient {
		display: none;
	}

    /* VC count */
    ._260e1982cd52c5c3-wrapper{
        border: 0px;
    }
	._260e1982cd52c5c3-total {
		background: var(--background-base-lowester);
	}
	._260e1982cd52c5c3-total:after {
		border-right-color: var(--background-base-lowester);
	}

    /* VC Panel */
	._37e49614b9f110a9-buttons {
		gap: 2px;
		margin-right: calc(var(--custom-panels-spacing) - var(--custom-guild-list-padding) - 8px);
	}
	._37e49614b9f110a9-avatarWrapper {
		margin-left: calc(var(--custom-panels-spacing) - var(--custom-guild-list-padding) - 4px);
	}
	.e131a99484292a19-container {
		margin: 10px;
	}
	._37e49614b9f110a9-micButtonParent ._37e49614b9f110a9-buttonChevron {
		display: none;
	}
	button._67645e1530f1195d-button {
    	border-radius: var(--radius-sm);
	}

    /* Slider buttons */
	.a562c840daab72a7-slider .a562c840daab72a7-barFill {
		background-color: var(--bg-brand)
	}
	._3f21e80f8677ec40-container._3f21e80f8677ec40-checked{
		background-color: var(--bg-brand) !important;
	}

	/* Code blocks */
	._752971923a1e6683-markup code {
		border: 1px solid var(--border-code);
	}
}


/* Search bar */
.visual-refresh ._974928fe84ca9647-searchBar {
    width: 230px;
}


/* Profile Bar */
.visual-refresh ._5e434347c823b592-panels {
    --custom-panels-spacing: 32px;
    background: var(--bg-overlay-floating, var(--background-base-lower));
    border: 1px solid var(--border-faint);
    border-radius: var(--radius-sm);
    bottom: 8px;
    box-sizing: border-box;
    left: calc(50px + var(--custom-panels-spacing));
    position: absolute;
    width: calc(100% - var(--custom-panels-spacing) * 2.8);
}
.visual-refresh button._67645e1530f1195d-button, .visual-refresh span._67645e1530f1195d-button {
    height: 32px;
    width: 32px;
}
.e131a99484292a19-actionButtons ._201d5e8a3c09670a-lookFilled ._201d5e8a3c09670a-contents {
	margin: -2px !important;
} 
/* Now playing area */
.visual-refresh ._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-panels ._5dec784a68542d60-panel {
	background: var(--bg-overlay-floating, var(--background-base-lower));
	margin: 10px;
	padding-bottom: 10px;
}


/* Top Bar */
.platform-win ._5e434347c823b592-base {
	padding-top: 0px;
}
.c38106a3f0c3ca76-bar .c38106a3f0c3ca76-trailing ._9293f6b2fc12398a-iconWrapper {
    width: 24px;
    height: 24px;
}
.c38106a3f0c3ca76-bar .c38106a3f0c3ca76-trailing ._9293f6b2fc12398a-iconWrapper ._9293f6b2fc12398a-icon,
.c99c29809d200a61-clickable {
    width: 16px;
    height: 16px;
	top: 0px;
	bottom: 0px;
}
.c99c29809d200a61-badge {
    bottom: 0px;
    height: 7px;
    right: 4px;
    width: 7px;
}
.visual-refresh .edbb22df99c39831-title {
    display: none;
}


/* Server list, mostly from milbits and THEYAKUZI */
._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-guilds {
    width: 75px;
    background: var(--background-base-lowester);
	.ef3116c2da186559-scroller {
		padding-top: 0px;
		padding-bottom: 25px;
	    > div[style]:not([class]) {
	        min-height: 48px;
		}
		ul.dbd2630aec71879b-stack {
		    height: auto !important;
		}
    }
    ._252b6afd49fda06f-guildSeparator {
      height: 2px;
	  /* margin-top: 10px; */
    }
	
	._650eb104245d257b-listItem:has(._5bc7ed9d4097f6b5-circleIcon) {
		._5bc7ed9d4097f6b5-circleIconButton {
			border-radius: 50%;
			width: 48px !important;
			height: 48px !important;
		}
	}
	.e8d03f772dd98c5d-guildsError {
		width: 48px !important;
	    height: 48px !important;
	    background: (rgba(240,71,71,.1));
	    border-color: var(--text-feedback-critical);
		&:hover {
	    	background: var(--text-feedback-critical);
		}
	}

	.ef3116c2da186559-unreadMentionsIndicatorBottom {
		margin-left: 2px;
	}
    .ef3116c2da186559-unreadMentionsIndicatorTop, .ef3116c2da186559-unreadMentionsBar:before{
        margin-left: 2px;
    }
	._3b95d7d910416e54-mention {
		box-sizing: border-box;
		opacity: .9;
		border: unset;
		box-shadow: unset;
	}
}
._5e434347c823b592-sidebar:after {
	display: none;
}

._48112cbe77dc5022-folderHeader{
	width: 48px;
	height: 48px;
}
._48112cbe77dc5022-folderGroup {
    --custom-folder-padding: calc((var(--guildbar-folder-size) - 48px) / 2);
    --custom-folder-preview-padding: var(--space-4);
    --custom-folder-preview-gap: 2px;
    --custom-folder-preview-guild-size: calc((var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2 - var(--custom-folder-preview-gap)) / 2);
    position: relative;
    width: var(--custom-guild-list-width);
}
._48112cbe77dc5022-folderPreviewGuildIcon{
	border-radius: 12px !important;
}
._48112cbe77dc5022-folderGroupBackground {
	left: calc((var(--custom-guild-list-padding) - (var(--guildbar-folder-size) - 48px)/2) - 1.5px);
	border-radius: 16px;
	width: calc(var(--guildbar-folder-size));
}
._48112cbe77dc5022-folderGroup > ._650eb104245d257b-listItem {
	gap: 20px !important;
}

/* Reactions Container */
.b7f4b43fe1b6e285-scroller {
	width: 100px;
	padding-inline-end: 12px;
	padding-right: 6px !important;
}

.b7f4b43fe1b6e285-reactionDefault, .b7f4b43fe1b6e285-reactionSelected {
	padding: 2px 4px;
	margin-bottom: 8px;
}

._8a031a135bfcb9ba-size-md {
    max-width: 600px;
}

.b7f4b43fe1b6e285-container {
	padding-inline-start: 12px;
}